Click==7.0
Flask==1.0.2
Flask-Mail==0.9.1
Flask-Material==0.1.1
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
WTForms==2.2.1
Werkzeug==0.14.1
atomicwrites==1.2.1
attrs==18.2.0
blinker==1.4
certifi==2018.10.15
chardet==3.0.4
colorama==0.2.5
docopt==0.6.2
html5lib==0.999
idna==2.7
itsdangerous==1.1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
py==1.7.0
pycurl==7.19.3
pygobject==3.12.0
pytest==3.10.1
python-apt==0.9.3.5ubuntu2
python-dotenv==0.9.1
pythonanywhere==0.7
requests==2.20.1
scandir==1.9.0
six==1.11.0
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==16.1.0
wheel==0.24.0
