  	body {
	     display: flex;
	     min-height: 100vh;
	     flex-direction: column;
		  }
		
	main {
	    flex: 1 0 auto;
	  }
  	
  	nav{

  		background-color: white;
  		height: 100px;
  		box-shadow: 0 0px 0px rgba(0,0,0,0.12);
  		webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.12);
  	}

  	nav a{
  		font-family: 'Kranky', cursive;
  		color: black;
  	}
  	nav ul a {
  	  font-size: 1.5rem;
  	}
  	nav a:hover, footer a:hover, #mobile-demo a:hover,
  	footer h5:hover{
  		text-decoration: underline;
  		font-weight: bold;
  	}
  	
    #bar{
      
      background-image: url('../images/Canva_confetti.jpg');
      background-position: center;
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
    }
    .bars{
      height: 150px;
    }
  	.page-footer{
  		background-color: white;
  		color: black;
  	}
  	.page-footer h5{
  		font-family: 'Kranky', cursive;
  	}
  	.footer-copyright{
  		background-color: black; 
  	}
  	#footer a {
  		color: black;
  	}
  	/*sidenav style*/
  	#mobile-demo a{
  		font-family: 'Kranky', cursive;
  		font-size: 3em;
  	}
  	#mobile-demo a:hover{
  		 text-decoration: underline;
  		font-weight: bold;
  	}
  	#logo{
  		margin: 7px;
  		width: 100px;
  	}
  	
  	#logo:hover{
  		width: 130px;
  	}
  	.content{
  	   font-family: 'Playfair Display', serif;
  	    padding: 7px;
  	}
  	
  	.jump{
  	  padding-top: 10px;
  	    display: none;
  	}
  	
  	#info{
  	  
  	  font-family: 'Mukta', sans-serif;
  	}
  	legend{
  	  font-family: 'Kranky', cursive;
  	  font-weight: bold;
  	  font-size: 1.5em;
  	}
  	.decor{
  	 
  		border-color: black;
  		border-style: solid;
    	border-width: 1px;
  	}
  	#moved{
  		padding-top: 50px;
  	}
  	
  	
  	/*Materialize*/
    
    input[type=text]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]) {
      border-bottom: 1px solid black !important;
      box-shadow: 0 1px 0 0 black !important;
    }

    
    
    input[type=text]:focus:not([readonly]) + label {
      color: black!important;
    }
    
    input[type=email]:focus:not([readonly]) + label {
      color: black !important;
    }
    
    .input-field {
      color: black !important;
    }
    .divider{
    width:5px;
    height:auto;
    display:inline-block;
}
    .btn {
      background-color: black !important;
      font-size: 0.8em;
        }
    
    .btn:focus {
      background: #616161 !important;
    }
    
    .btn:hover {
      background: #616161 !important;
    }
   #fb_text{
     margin: 10px;
     font-size:0.7em;
   }
   textarea{height: 8rem;}
   
  	@media (max-width: 992px) { 
	  	#logo{
	  		display: none;
	  	}
	  	#logo_mobile{
	  		margin: 7px;
  			width: 120px;
  			}
  			
  			.content{
  			  font-size: 2em;
  			}
  			#bar{
  			  height: 300px;
  			}
  			
  		  .decor{
  		    font-size: 1.5em;
  		  }
  		  .btn{
  		    font-size: 0.9em;
  		  }
  		  textarea{height: 14rem;}
  		  .input-field>label{
  		    font-size: 1em;
  		  }
  		  
  		  #or{
  		    font-size: 2em;
  		  }
  		  #fb_text{
  		    font-size: 1.5em;
  		  }
  		  footer{
  		    font-size: 1.2em;
  		  }
  		  .sidenav-div{
  		    padding: 15px 8px 15px 8px;
  		  }
	  	}
	  	/*iPhone X etc*/
	  	@media (max-width: 767.98px) {
	  	  
	  	  
  			.content{
  			  font-size: 2em;
  			}
  			#bar{
  			  height: 300px;
  			}
  			
  		  .decor{
  		    font-size: 1.5em;
  		  }
  		  .btn{
  		    font-size: 0.9em;
  		  }
  		  textarea{height: 14rem;}
  		  .input-field>label{
  		    font-size: 1.1em;
  		  }
  		  
  		  #or{
  		    font-size: 2em;
  		  }
  		  #fb_text{
  		    font-size: 1.5em;
  		  }
  		  footer{
  		    font-size: 1.5em;
  		  }
  		  .sidenav-div{
  		    padding: 15px 8px 15px 8px;
  		  }
	  	}