{% extends 'base_pl.html' %}
{% block title %}

  <title> Contact Kajamiko</title>
{% endblock %}

{% block content %}

<div id="moved" class="container">
    <h4  class="center-align">
    07963562671<i class="fas fa-phone"></i></h4>
    <div class="row">

                <p class="center-align"><a target="_blank" id="fb_text" class="btn btn-large" href="https://m.me/Kajamiko">
                Napisz <span class="hide-on-med-and-down">na Facebooku </span><i class="fab fa-facebook-messenger"></i>
                </a>
                </p>

    </div>
    <div  class="row">

                 <p class="center-align">LUB</p> 

    </div>
    <div  class="row">

            <form method="POST" class="decor col l8 offset-l2 s12" action="{{ url_for('contact') }}">

                    <legend  class="center-align">Wyslij maila!</legend>

                {{ form.csrf_token }}
                <div class="input-field col l12 s12 ">
                <label for="name">Imię</label>
                {{ form.name(size=20) }}
                </div>
                <div class="input-field col l12 s12 ">
                <label for="email">Adres mailowy</label>
                {{ form.email }}
                </div>
                <div class="input-field col l12 s12 ">
                <label for="subject">Temat</label>
                {{ form.subject }}
                </div>
                <div class="input-field col l12 s12 ">
                <label for="message">Wiadomość</label>  
                {{ form.message(size=500, rows="4") }}
                
                </div>
                <div class="input-field col l3 offset-l5 s4 offset-s4">
                <button class="btn" type="submit">Wyślij</button>
                </div>
            </form>
            <p>{{ feedback }}</p>
            
    </div>
</div>
{% endblock %}