{% extends 'base_pl.html' %}
{% block title %}
  <title>Kajamiko Web Design & Web Development</title>
{% endblock %}

{% block content %}
<!--<div  class="container">-->
    <div class="col s12 m12 l12  black white-text">
        <div class="content ">
          <div class="bars">
            
            <h3 class="jump center-align">Tworzenie stron internetowych to moja pasja</h3>
            
            </div>
              <div class="bars" id="bar"> </div>
            
            <div class=" jump card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="" class="circle responsive-img"> 
            </div>
            <div id="info" class="black-text col s10">
              <p >
                <a class="black-text" href="https://goo.gl/maps/whZiZcjvttD2"><i class="fas fa-map-marker-alt"></i><span "hide-on-med-and-down">Luton</span></a>
                </p>
                <h5 >Kim jestem?</h5>
              <p >
                Mam na imię Kaja i zajmuję się projektowaniem i obsługą stron internetowych. 
                
              </p>
              <p >
                Tworzę nie tylko miłe dla oka i funkcjonalne strony, ale także rozbudowane witryny, np. sklepy internetowe.
              </p>
              <h5 >Jakich technologii używam?</h5>
              <p>
                Do projektowania stron korzystam z narzędzi takich jak Python, Javascript, HTML i CSS.  Ponadto stale uczę się nowych rzeczy, by móc tworzyć jeszcze lepsze produkty!
              </p>
              <p>
                  <i class="fab fa-python"></i>&nbsp;
                  <i class="fab fa-html5"></i>&nbsp;
                  <i class="fab fa-js-square"></i>&nbsp;
                  <i class="fab fa-react"></i>&nbsp;
                  <i class="fab fa-wordpress-simple"></i>&nbsp;
              </p>
            </div>
          </div>
        </div>
        </div>
    </div>
<!--</div>-->
{% endblock %}