{% extends 'base.html' %}
{% block title %}

  <title> Contact Kajamiko </title>
{% endblock %}

{% block content %}
<div id="offer" class=" container">
  <div class="row">
    <div class="transparent-div col l10 offset-l1 s8 offset-s2">
      <h5 id="title" class=" center-align"> Get your bespoke website </h5>
    </div>
  </div>
    <ul id="" class=" collapsible expandable">
      <li class="active">
        <div class="collapse collapsible-header">

            <div class="col s3"><i class=" fas fa-chevron-circle-down"></i></div>
            <div class="col s9">
              <i class="fas fa-desktop"></i> <i class="fas fa-tablet-alt"></i>A basic website offer 
          </div>

        </div>
        <div class="transparent-div collapse collapsible-body">
          <h5 class="center-align">Basic doesn't mean bad &nbsp; <i class="fas fa-smile"></i></h5>
          <p> You can have a stylish website promoting yourself or your business for even £200, although the final price depends on a technology used. But the price always include designing a logo, if you don't have one already!</p>
          </div>
      </li>
      <li>
        <div class="collapse collapsible-header">
          <div class="col s3"><i class=" fas fa-chevron-circle-down"></i></div>
            <div class="col s9">          
            <i class="fas fa-shopping-cart"></i>E-commerce</div>
        </div> 
        <div class="transparent-div collapse collapsible-body">
          <h4 class="center-align">It would be a great thing to sell your products online!</h4>
          <p> If an eye-cathing website with a functional and secure online store is all you need, don't hesitate to contact me to get a quote.</p>
          </div>
      </li>
      <li>
        <div class="collapse collapsible-header">
          <div class="col s3"><i class=" fas fa-chevron-circle-down"></i></div>
            <div class="col s9">           
              <i class="fas fa-chart-line"></i><i class="fas fa-cogs"></i>Marketing & Maintenance
            </div>
        </div>
        <div class="transparent-div collapse collapsible-body">
          <h4 class="center-align">Your business may be small, but it deserves good advice and smooth online service.</h4>
          <p> Marketing and business promotion may be challenging, if all you did so far was just your profession. Don't worry! I'll help with that as well.</p>
          <p> Maintenance prices start from £25/month. </p>
        
        </div>
      </li>
    </ul>
          
    </div>
    
</div>

{% endblock %}